@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

header{
    background-color: #0C0C0C;
    position: sticky;
}


.nav-main-container{
    display: flex;
    color: aliceblue;
    /* background-color: red; */
    position: relative;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: -8vh;
}

.li-css {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18vh;
    text-decoration: none;
}

.li-css li{
    float: left;
    margin-left: 25vh;
    font-size: 25px;
   margin-top: 1.5%;
   float: right;
  
}

.li-css li button{
   all: unset;
   cursor: pointer;
}

.logo-css{
    margin-left: 10vh;
    /* font-size: 15px; */
    /* background-color: rebeccapurple; */
}

.logo-css h3{
    font-family: 'Pacifico', cursive;
    font-weight: 600;
}

.main_profile{
    border-radius: 50%;
    width: 120px;
    height: 28px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_profile img{
    border-radius: 50%;
    vertical-align: middle;
    border: solid #fff;
    /* margin: 0 1vh; */
    border: solid;
    width: 4vh;
    height: 100%;
    overflow: hidden;
    float: left;
}


@media screen and (max-width : 767px) {

    header{
        /* overflow: hidden; */
    }
    .logo-css {
        margin-left: 2vh;
        font-size: 15px;
    }

    .nav-main-container {
        display: flex;
        color: aliceblue;
        /* background-color: red; */
        position: relative;
    }
    .nav-links ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        /* margin-left: -37vh; */
    }
    .li-css {
        display: flex;
        color: white;
        text-align: center;
        padding: 25px 6vh;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
    }
    .li-css li {
        /* float: right; */
        font-size: 13px;
        margin-top: 1.5%;
        /* float: right; */
        margin: 0px 21px;
    }

    .main_profile{
        border-radius: 50%;
        width: 40px;
        height: 28px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .main_profile img{
        border-radius: 50%;
        vertical-align: middle;
        border: solid #fff;
        /* margin: 0 1vh; */
        border: solid;
        /* width: 4vh; */
        /* height: 100%; */
        overflow: hidden;
        float: left;
    }
}